html, body, h1, h2, h3, h4, h5, h6, p, div, span, main, header, footer, article, section{
    margin:0;
    padding:0;
    font-family:Arial, 'Open Sans';
}
*{
    box-sizing: border-box;
}

main{
    display:grid;
    height:100vh;
    grid-template-columns:repeat(2, 1fr);
}

.box{
    display:grid;
    place-items:center;
}

#box1{
    background-image:repeating-linear-gradient(#183248, white 20%);
}

#box2{
    background-image:repeating-linear-gradient(to left,#183248, #183248 20px, whitesmoke 20px, whitesmoke 40px);
}

#box3{
    background-image:repeating-linear-gradient(30deg,#183248, #183248 20px, whitesmoke 20px, whitesmoke 40px);
}
#box4{
    background-image:repeating-radial-gradient(circle, #183248, #183248 40px, white 40px, white 80px);
}